<div class="container ">

  <div class="input-form">
    <h3 ng-show="mapShow" class="text-center">
      <em>Where do you plan on taking pictures?</em>
    </h3>
    
    <div class="row" ng-show="!mapShow">
      <h4 class="text-center"><strong>{{addressHeading}}</strong></h4>
      <button class="btn card-button btn-success pull-right" ui-sref="schedule">Next</button>
      <button class="btn card-button btn-info pull-right" ng-click="mapUpdate()">Update</button>
    </div>
    
    <div class="form-container row" ng-show="mapShow">
      <form ng-submit="submitAddress(address)">
          <div class="form-group col-md-4">
              <label>Street</label>
              <input type="text" class="form-control" placeholder="123 Shot Call Ave" ng-model="address.street" ng-required="true">
          </div>

          <div class="form-group col-md-3">
              <label>City</label>
              <input type="text" class="form-control" placeholder="City" ng-model="address.city" ng-required="true">
          </div>
          <div class="form-group col-md-1">
              <label>State</label>
              <input type="text" maxlength="2" class="form-control" placeholder="State" ng-model="address.state" ng-required="true">
          </div>
          <div class="form-group col-md-2">
              <label>Zip Code</label>
              <input type="number" maxlength="5" integer class="form-control" placeholder="5 Digit Zip Code" ng-model="address.zip" ng-required="true">
          </div>
          <div class="form-group col-md-1">
              <input type="submit" class="form-control btn btn-md btn-warning " value="Go" ng-required="true">
          </div>

      </form>
    </div>

    <div id="mapMain">

    </div>
  </div>

</div>