<div class="container input-form">
    <h3 class="text-center">
        <em>When are we planning to shoot?</em>
    </h3>

    <div class="whenContainer">
      <form ng-submit="dateButton(shootDate)">
        <div class="form-group row">
          <label></label>
          <input type="date" class="form-control" placeholder="Date" ng-model="shootDate" ng-required="true">
        </div>
        <div class="form-group row">
          <input type="submit" class="btn-warning bt btn-sm form-control" value="Next">
        </div>
      </form>
    </div>

</div>